body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo_desenfocado.jpg)
    no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}


body,html{
	height: 100%;
	width: 100%;
}
.main-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container > .login,
.main-container > .hero-body{
	height: auto;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
}

.form-inline{
	display: inline-flex;
}