body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo_desenfocado.jpg)
    no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.Login {
    width: 320px;
    height: 420px;
    background: transparent;
    color: black;
    border: 2px solid rgba(17, 15, 15, 0.5);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .Login .php {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .Login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .Login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .Login input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .Login input[type="text"], .Login input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
  }
  
  .Login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: black;
    font-size: 18px;
    border-radius: 20px;
  }
  .Login input[type="submit"]:hover {
    cursor: pointer;
    background: lightcoral;
    color: #000;
  }
  
  .Login a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
  }
  
  .Login a:hover {
    color: aqua;
  }